# Lec#4

## String

In [6]:
#Assign The String
text = "ice cream "

In [7]:
#Print Variable
print(text)

ice cream

In [8]:
#Silicing
text[0]

'i'

In [9]:
#Silicing
text [1]

'c'

In [10]:
#Update The String
text[0] = 'g'

TypeError: 'str' object does not support item assignment

In [38]:
#Silicing
text[0:3]

'hel'

In [12]:
#Silicing
text [4:9]

'cream'

In [13]:
#Silicing
text [4:]

'cream '

In [14]:
#Silicing
text[:3]

'ice'

In [15]:
#Assign The Variable 
text = "hello"

In [16]:
#Assign The Variable
text ='hello'

In [18]:
#Assign The Variable and Use Kotes
text = 'let's Learn Python '

SyntaxError: invalid syntax (1882867989.py, line 1)

In [17]:
#Assign The Variable And Use Double Kotes
text = "let's Learn Python"

In [19]:
#Assign The Variable
text = 'hello "World"'

In [20]:
#Print The Variable
print(text)

hello "World"

In [24]:
#Assign the Variable Triples Kotes
address ='''1 Purpule Street
new york
usa'''

In [25]:
#Print The Variable
print(address)

1 Purpule Street
new york
usa

In [26]:
#Asssign The Variable
address = '1 purpule \nnew york \nusa '

In [27]:
#Print The Variable
print(address)

1 purpule
new york
usa

In [29]:
#Assign The Variable
s1 = 'hello'
s2 = 'World '

In [30]:
#Add the Two String 
s1+s2

'helloWorld '

In [31]:
#Add The Two String and Use Space
s1+ ' '+s2

'hello World '

In [33]:
#Assign The String
s = "total state in usa # "

In [34]:
#Assign The Variable
num =25

In [36]:
#Add Of String and Integer
s+num

TypeError: can only concatenate str (not "int") to str

In [37]:
#Add The String with Integer Convert into String
s+str(num)

'total state in usa # 25'

--------------------------------------------------------------------------------------------------------------------------