# Lec 03

In [10]:
#Assign The Variables
rent = 3000
petrol =200.05
groceries = 2500.50

In [11]:
#Calculate The Total
total = rent +petrol +groceries

In [12]:
#Print The Variable
print('The Groceries Expense is ',groceries)
print('The Petrol Expense is ',petrol)
print('The Rent Expense is',rent)
print("The Total Expense is ",total)

The Groceries Expense is  2500.5
The Petrol Expense is  200.05
The Rent Expense is 3000
The Total Expense is  5700.55

In [13]:
#Assign The Variable 
gabbar = 'Amjad Khan'
jay ='amitabh'
thakur ='sanjiv Kumar'

In [14]:
#Print The Variable
print(gabbar)

Amjad Khan

In [15]:
#Check The Type 
type(gabbar)

str

In [16]:
#Check The Type
type(rent)

int

In [17]:
#Check The Type
type(petrol)

float

In [18]:
#Assign The Variable
learn_python = True
learn_fortran=False

In [19]:
#Print The Variable
print(learn_python)

True

In [20]:
#Check The Variable
type(learn_python)

bool

In [21]:
#Cannot Assign The Words
True = 5

SyntaxError: cannot assign to True (1678443757.py, line 2)

In [23]:
#Cannot Assign The Words
foo+s = 58

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1124559536.py, line 2)

In [24]:
#Cannot Assign The Words 
4t = 89

SyntaxError: invalid decimal literal (4128740780.py, line 2)

In [26]:
#Cannot Assign The Words 
@dd= 67

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2399479321.py, line 2)

In [27]:
#Assign The Variable 
bade_bahi = 5
bade_Bahi =19

In [29]:
#Print The Variable 
print("The bade bahi :",bade_bahi)
print('The bade Bahi :',bade_Bahi)

The bade bahi : 5
The bade Bahi : 19

In [31]:
#Assign The Variable 
foo =5
foo ='jalebi'
bar =foo

In [35]:
#Check The Assign Value Same or Not
id(bar)

2396266367600

In [36]:
#Check The Assign Value Same or Not
id(foo)

2396266367600

In [37]:
#Assign The Value
bar = 'samosa'

In [38]:
#Check The Assign Value Same or Not
id(foo)

2396266367600

In [39]:
#Check The Assign Value Same or Not
id(bar)

2396266455664

In [40]:
#Assign The Value
foo = 'kachodi'

In [41]:
#Print The Value
print(foo)

kachodi

--------------------------------------------------------------------------------------------------------------------------------