In [1]:
#Create The Variable
product_1 = 10

In [2]:
#Print The Variable Data 
print("The Product 1 is:", product_1)

The Product 1 is: 10

In [3]:
#Create The Variable
item_1 = 20

In [4]:
#Print The Variable Data 
print("The Product 1 is:", item_1)

The Product 1 is: 20

In [5]:
#Create The Variable
rent = 2000

In [6]:
#Create The Variable
gas = 1200

In [7]:
#Create The Variable
groceries = 4000

In [8]:
#Print The Variable Data 
print("The Rent is:",rent)

The Rent is: 2000

In [9]:
#Print The Variable Data 
print("The Rent is:",gas)

The Rent is: 1200

In [10]:
#Print The Variable Data 
print("The Rent is:",groceries )

The Rent is: 4000

In [11]:
#Addition of the variable
total = rent + gas + groceries

In [12]:
#Print The Variable Data 
print("The Rent is:",total )

The Rent is: 7200

In [13]:
#Store the Items in the variable
item1 = "Rent"

In [14]:
#Store the Items in the variable
item2 = "Gas"

In [15]:
#Store the Items in the variable
item3 = "Groceries"

In [16]:
#Print The Items of The Expenses
print("The Expenses Products is:",item1,item2,item3)

The Expenses Products is: Rent Gas Groceries

In [17]:
#Store the Value in variable
True = 4

SyntaxError: cannot assign to True (1486508521.py, line 2)